Calendar container
.calendar {
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    max-width: 500px; 
    margin: 0 auto;
}

.calendar-header
 {
    text-align: center;
    margin-bottom: 10px;
}

.month {
    font-size: 1.2em;
    font-weight: bold;
}

.year {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 5px;
}
.days{
    display:grid;
    grid-template-columns: repeat(7,1fr);
    gap:5px;
   
}

.day-label{
text-align: center;
}
.day{
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;

}
.dull{
    color:#ccc;
}
.today{
    background-color: bisque;
    font-weight: bold;
}
.day-of-week{
    display:flex;
    flex-direction: row-reverse;
  font-size:x-small;
}



  

